*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

body {
  text-size-adjust: 100%; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none outside none; }

ol {
  counter-reset: item; }
  ol li {
    display: block; }
    ol li:before {
      content: counters(item, ".") ". ";
      counter-increment: item; }
    ol li li {
      padding-left: 10px; }
      ol li li:before {
        content: counters(item, ".") " "; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

img,
iframe,
video,
audio,
object {
  max-width: 100%; }

img,
iframe {
  border: 0 none; }

img {
  height: auto;
  display: inline-block;
  vertical-align: top; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  padding: 0; }

button,
input[type='submit'],
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='image'],
label[for] {
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0; }

button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
textarea {
  appearance: none; }

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  appearance: none; }

textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

button,
select {
  text-transform: none; }

input::placeholder {
  color: inherit;
  opacity: 1; }

textarea::placeholder {
  color: inherit;
  opacity: 1; }

input:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  box-shadow: 0 0 0 62.5rem #fff inset; }

body {
  min-width: 320px;
  margin: 0;
  color: #fff;
  font: 15px/1 'roboto', Arial, Helvetica; }

a {
  color: inherit;
  text-decoration: none; }

.wrapper {
  padding: 15px; }

.red {
  color: #df0065; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../../fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

.banner {
  width: 336px;
  height: 280px;
  margin: 0 auto;
  text-align: right;
  padding: 85px 30px 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: url("../../images/make-up-bg.jpg"); }

.banner-text {
  position: relative;
  height: 100%;
  width: 100%; }
  .banner-text .banner-text-group {
    position: absolute;
    top: 0;
    right: 0; }
  .banner-text .banner-text-line {
    opacity: 0;
    transform: translateX(0);
    animation: slide 6s infinite;
    text-transform: uppercase;
    font-size: 23px; }
    .banner-text .banner-text-line_1 {
      font-size: 23px;
      font-weight: 500; }
    .banner-text .banner-text-line_2 {
      font-size: 23px;
      font-weight: 100;
      animation-delay: .3s; }
    .banner-text .banner-text-line_3 {
      animation-delay: 3s;
      font-size: 23px; }
    .banner-text .banner-text-line_4 {
      animation-delay: 3.3s;
      font-size: 45px;
      font-weight: 100; }

.banner-button {
  margin-top: auto;
  opacity: 0;
  animation: animateButton 6s infinite .6s;
  background: #df0065;
  border-radius: 5px;
  height: 32px;
  padding: 0 30px;
  font-weight: 500;
  text-transform: uppercase;
  align-self: flex-end; }

/*Keyframes*/
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(0); }
  10% {
    opacity: 1; }
  35% {
    opacity: 1;
    transform: translateX(0); }
  55% {
    opacity: 0; }
  100% {
    transform: translateX(1000%); } }

@keyframes animateButton {
  0% {
    opacity: 0;
    transform: translateX(0); }
  10% {
    opacity: 1; }
  85% {
    opacity: 1; }
  90% {
    opacity: 0; } }

.ice-cream-wrap {
  width: 336px;
  height: 280px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .ice-cream-wrap .ice-cream-bg {
    filter: blur(0);
    animation: animateBG 5s infinite;
    position: absolute;
    left: 0;
    top: 0; }
  .ice-cream-wrap .circle {
    width: 211px;
    height: 211px;
    border-radius: 100%;
    background: #cbdb2a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    animation: animateCircle 5s infinite; }
  .ice-cream-wrap .ice-cream {
    position: relative;
    z-index: 1;
    width: 106px;
    height: 249px;
    animation: animateIce-cream 5s infinite; }
    .ice-cream-wrap .ice-cream-item {
      animation: animateIce-creamImg01 5s infinite; }
      .ice-cream-wrap .ice-cream-item:after {
        animation: animateIce-creamImg02 5s infinite;
        content: '';
        background: url("../../images/ice-cream-corner.png");
        width: 36px;
        height: 30px;
        position: absolute;
        right: 9px;
        top: 0; }
    .ice-cream-wrap .ice-cream-txt {
      animation: animateIce-creamImg03 5s infinite;
      z-index: 3;
      position: absolute;
      top: 47px;
      left: 11px; }

/*Keyframes*/
@keyframes animateBG {
  15% {
    filter: blur(4px); }
  85% {
    filter: blur(4px); }
  100% {
    filter: blur(0); } }

@keyframes animateCircle {
  0% {
    transform: translate(-50%, -50%) scale(0); }
  15% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  85% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0); } }

@keyframes animateIce-cream {
  85% {
    opacity: 1;
    transform: scale(1) rotate(0); }
  100% {
    opacity: 0;
    transform: scale(0) rotate(180deg); } }

@keyframes animateIce-creamImg01 {
  0% {
    opacity: 0;
    transform: scale(3); }
  15% {
    opacity: 0;
    transform: scale(3); }
  20% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes animateIce-creamImg02 {
  0% {
    visibility: visible; }
  50% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }

@keyframes animateIce-creamImg03 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 1; } }
