// Base styles

$white: #fff;
$red: #df0065;

body {
  min-width: 320px;
  margin: 0;
  color: #fff;
  font: 15px/1 'roboto', Arial, Helvetica;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  padding: 15px;

}

.red {
  color: $red;
}
