@font-face {
  font-family: 'roboto';
  src: url('../../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('../../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('../../fonts/roboto-thin-webfont.woff2') format('woff2'), url('../../fonts/roboto-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
