.banner {
  width: 336px;
  height: 280px;
  margin: 0 auto;
  text-align: right;
  padding: 85px 30px 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: url('../../images/make-up-bg.jpg');
}

.banner-text {
  position: relative;
  height: 100%;
  width: 100%;

  .banner-text-group {
    position: absolute;
    top: 0;
    right: 0;
  }

  .banner-text-line {
    opacity: 0;
    transform: translateX(0);
    animation: slide 6s infinite;
    text-transform: uppercase;
    font-size: 23px;

    &_1 {
      font-size: 23px;
      font-weight: 500;
    }

    &_2 {
      font-size: 23px;
      font-weight: 100;
      animation-delay: .3s;
    }

    &_3 {
      animation-delay: 3s;
      font-size: 23px;
    }

    &_4 {
      animation-delay: 3.3s;
      font-size: 45px;
      font-weight: 100;
    }
  }
}

.banner-button {
  margin-top: auto;
  opacity: 0;
  animation: animateButton 6s infinite .6s;
  background: $red;
  border-radius: 5px;
  height: 32px;
  padding: 0 30px;
  font-weight: 500;
  text-transform: uppercase;
  align-self: flex-end;
}

/*Keyframes*/
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  10% {
    opacity: 1;
  }

  35% {
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    opacity: 0;
  }

  100% {
    transform: translateX(1000%);
  }
}

@keyframes animateButton {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  10% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
}
