.ice-cream-wrap {
  width: 336px;
  height: 280px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .ice-cream-bg {
    filter: blur(0);
    animation: animateBG 5s infinite;
    position: absolute;
    left: 0;
    top: 0;
  }

  .circle {
    width: 211px;
    height: 211px;
    border-radius: 100%;
    background: #cbdb2a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    animation: animateCircle 5s infinite;
  }

  .ice-cream {
    position: relative;
    z-index: 1;
    width: 106px;
    height: 249px;
    animation: animateIce-cream 5s infinite;

    &-item {
      animation: animateIce-creamImg01 5s infinite;

      &:after {
        animation: animateIce-creamImg02 5s infinite;
        content: '';
        background: url('../../images/ice-cream-corner.png');
        width: 36px;
        height: 30px;
        position: absolute;
        right: 9px;
        top: 0;
      }
    }

    &-txt {
      animation: animateIce-creamImg03 5s infinite;
      z-index: 3;
      position: absolute;
      top: 47px;
      left: 11px;
    }
  }
}

/*Keyframes*/

@keyframes animateBG {
  15% {
    filter: blur(4px);
  }

  85% {
    filter: blur(4px);
  }

  100% {
    filter: blur(0);
  }
}

@keyframes animateCircle {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  15% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  85% {

    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes animateIce-cream {
  85% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }

  100% {
    opacity: 0;
    transform: scale(0) rotate(180deg);
  }
}

@keyframes animateIce-creamImg01 {
  0% {
    opacity: 0;
    transform: scale(3);

  }

  15% {
    opacity: 0;
    transform: scale(3);
  }

  20% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animateIce-creamImg02 {
  0% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes animateIce-creamImg03 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
